{% extends 'core/user/profile/base.html' %} 
{% block title %} {{ title }} {%endblock title %} 
{% block content %}


<link rel="stylesheet" href="style.css"/>


<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <div class="middle">
                                      <a href="{% url 'user-edit-profile' request.user.pk %}">Alterar</a>
                                    </div>
                                </div>
                                <div class="userData ml-3">
                                  <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold; color: white">{{ object.username }}</h2>
                                  <span class="author-card-position"
                                  >Joined {{ object.created_at }}</span
                                >
                                </div>
                                {% load widget_tweaks %}
                                
                                <div class="ml-auto">
                                  <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                              </div>
                            </div>
                            
                          <div class="color-font">
                          <div class="row">
                            <div class="col-sm-3 col-md-2 col-5">
                              <label style="font-weight:bold;">Full Name</label>
                            </div>
                            <div class="col-md-8 col-6">
                              {{user.first_name}} {{user.last_name}}
                            </div>
                          </div>
                          <hr />
                          
                          <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                              <label style="font-weight:bold;">Visto por último</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                              {{user.last_login}}
                                            </div>
                                          </div>
                                        <hr />
                                        
                                        
                                        <div class="row">
                                          <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email</label>
                                          </div>
                                          <div class="col-md-8 col-6">
                                            {{user.email}}
                                            </div>
                                        </div>
                                        <hr />
                                      </div>
                </div>
              </div>
            </div>
    </div>
  </div>
{% endblock content %}
