html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F6F6F6;
}

.root {
    width: 100%;
    display: flex;
    overflow-y: auto;
    justify-content: center;
    flex-direction: column;
}

.topContent {
    display: flex;
    height: 300px;
    background: radial-gradient(circle, rgba(9, 15, 125, 1) 0%, rgba(9, 15, 125, 1) 0%, rgba(0, 212, 255, 1) 100%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    width: 60%;
    align-self: center;
    flex-direction: column;
    text-align: justify;
    padding-bottom: 15px;
}

.title {
    color: #ffffff;
    text-align: center;
    font-size: 28px;
}

.subtitle {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

section {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.code {
    padding: 5px;
    background-color: #d1d5da;
    border-radius: 5px;
}

.codeText {
    padding: 0;
    margin: 8px;
    font-family: monospace;
    font-size: 14px;
}

.codeTextMarker {
    font-family: monospace;
    background-color: #d1d5da;
    font-size: 14px;
}