{% extends 'core/user/base.html' %} 
{% block title %} {{ title }} {% endblock title %} 
{% block content %}

<div class="container">
  <div class="content">
    <div id="cadastro">
      <form method="post" action="">
        <h1>Cadastro</h1>

        <p>
          <label for="nome_cad">Username</label>
          <input
            id="nome_cad"
            name="nome_cad"
            required="required"
            type="text"
            placeholder="nome"
          />
        </p>

        <p>
          <label for="email_cad">E-mail</label>
          <input
            id="email_cad"
            name="email_cad"
            required="required"
            type="email"
            placeholder="contato@tritium.com"
          />
        </p>

        <p>
          <label for="senha_cad">Senha</label>
          <input
            id="senha_cad"
            name="senha_cad"
            required="required"
            type="password"
            placeholder="ex. 1234"
          />
        </p>

        <p>
          <label for="conf_senha">Confirmar Senha</label>
          <input
            id="conf_senha"
            name="conf_senha"
            required="required"
            type="password"
            placeholder="ex . 1234"
          />
        </p>

        <p>
          <input type="submit" value="Cadastrar" />
        </p>

        <p class="link">
          Já tem conta?
          <a href="login"> Ir para Login </a>
        </p>
      </form>
    </div>
  </div>
</div>
  {% endblock content %}
